.category_section {
  /* background: teal; */
  /* height: 100vh; */
  padding: 40px 0 0 0;
}
.category {
  justify-content: space-between !important;
  column-gap: 40px;
}
.wrapper {
  margin: 0 80px;
}
.categories {
  width: 50%;
  height: 600px;
  /* background: red; */
  position: relative;
}

.categories img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(0.8);
}

.shop {
  position: absolute;
  color: #ffff;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
.shop span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  /* line-height: 0; */
}

.shop h1 {
  text-transform: uppercase;
  line-height: 0;
  letter-spacing: 4px;
}
.black_screen {
  height: 140vh;
  background: var(--secondary-color);
  margin-top: -100px;
  align-items: end !important;
}

.offer_img {
  width: 50%;
  background: url(../media/offerbackgrnd.jpg) right;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 100vh;
}

.offer_desc {
  width: 50%;
  background: #fff;
  height: 600px;
  align-items: flex-start !important;
  /* justify-content: space-between !important; */
  padding: 0 120px;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    /* background: yellow; */
    margin: 0 20px;
  }
  .category {
    flex-direction: column;
    column-gap: normal;
  }

  .categories {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .categories:nth-child(3) img {
    height: 300px;
    object-position: top;
  }
  .shop span {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .shop h1 {
    line-height: 2;
  }
  .shop {
    top: 0;
  }

  .black_screen {
    height: 500px;
    margin: 0;
    flex-direction: column-reverse;
    background: none;
  }

  .offer_img {
    height: 300px;
    width: calc(100vw - 40px);
    margin: 0 20px;
  }
  .offer_desc {
    height: 300px;
    width: 100%;
    padding: 0 20px;
  }
  .offer_desc h3 {
    line-height: 2;
  }
}
