.Men_shop {
  height: 100vh;
  margin: 0 80px;
  /* background: green; */
  position: relative;
}

.Men_shop img {
  height: 700px;
  position: absolute;
  right: 0;
}

.txt {
  /* background: red; */
  width: 60%;
  /* height: 250px; */
  position: absolute;
  top: 20%;
}

@media only screen and (max-width: 480px) {
  .Men_shop {
    height: 280px;
    display: flex;
    margin: 20px 20px;
    display: flex;
  }
  .Men_shop img {
    height: 280px;
  }

  p {
    font-size: 0.5rem;
  }
}
