.navbar {
  background: #ffffff;
  width: 100%;
}
nav {
  /* background: red; */
  justify-content: space-between !important;
  z-index: 10;
  /* width: 100%; */
  padding: 15px 0;
  margin: 0 80px;
}

.logo_ {
  width: 200px;
}

.navlinks {
  list-style: none;
  text-transform: uppercase;
  /* color: #fff; */
}

.category_nav {
  /* justify-content: space-around !important; */
  width: 400px;
  justify-content: space-between !important;
  /* background: rebeccapurple; */
  padding: 0;
}

.loginbtn {
  /* background: green; */
  column-gap: 20px;
  justify-content: space-between !important;
  /* color: #fff; */
}

.hamburger,
.dropdown {
  display: none;
  position: relative;
}

.menubar {
  align-items: flex-start !important;
  row-gap: 10px;
  text-transform: uppercase;
  /* background: yellow; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu_login {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu_login span {
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  nav {
    width: calc(100%-40px);
    margin: 0 20px;
    padding: 8px 0;
    font-size: 8px;
  }
  .logo {
    /* background: red; */
    align-self: flex-start !important;
  }
  .hamburger {
    display: block;
    /* background: yellow; */
    position: relative;
  }
  .dropdown {
    position: fixed;
    top: 0;
    left: -200px;
    bottom: 0;
    width: 200px;
    height: 100vh;
    z-index: 5;
    background: #fff;
    display: block;
  }

  .active_menu {
    left: 0;
  }
  .logo_ {
    width: 60px;
  }
  .category_nav {
    /* width: 200px;
    justify-content: space-between !important;
    background: red; */
    display: none;
  }
  .navlinks {
    /* font-size: 8px; */
    display: none;
  }
  .category_nav {
    width: fit-content;
    /* background: red; */
    column-gap: 15px;
    justify-content: space-between !important;
  }
  .loginbtn {
    /* background: blue; */
    column-gap: 20px;
  }
  .login {
    display: none;
  }
}
