.sorting {
  position: relative;
  /* right: 0; */
  margin: 20px 80px;
  justify-content: flex-end !important;
}

.sorting_wrapper {
  /* background-color: #d1d1d1; */
  padding: 10px 0;
}

.sorting_wrapper select {
  border: 1px solid #000;
  background: transparent;
  padding: 8px 8px;
}

@media only screen and (max-width: 480px) {
  .sorting {
    margin: 15px 20px;
    /* margin-bottom: 20px; */
    justify-content: flex-start !important;
  }
  .sorting_wrapper {
    padding: 5px 0;
    font-size: 12px;
  }
  .sorting_wrapper select {
    padding: 2px 4px;
    font-size: 14px;
  }
}
