@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Ruda", sans-serif; */
}

:root {
  --bg-color: #faedeb;
  --secondary-color: #000000;
  --font-color: #fff;
  /* --secondary-color: */
  --heading: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p20-80 {
  padding: 20px 80px;
}

li {
  list-style: none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem !important;
    margin: 0;
  }
  h3 {
    font-size: 0.8rem !important;
    margin: 0;
  }
}
